/* container */
$widthContainer: 1212px;
$paddingContainer: 20px;

/* base typography */
$baseFont: 'Inter', sans-serif;
$baseWeight: 400;

/* colors */
$linkColor: #fff;
$black: #10101d;
$blue: #3e9cdc;
$silver: #c3c3c3;
$grey: #bbbbbb;
